terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
frontend/node_modules/
.env
chroma_db/
*.exe
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
